.sidebar {
  background-color: #1d1b1b;
  color: rgb(241, 103, 24);
  padding: 20px;
  height: 100vh;
  overflow: auto;
  position: fixed;
  width: 250px;
  left: 0;
}

.sidebar h2 {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 10px 0;
  margin: 5px;
  color: rgb(235, 144, 90);
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none;
}

ul li:hover {
  background-color: #6d6d6d;
  border-radius: 10px;
  transition: background-color 0.3s, border-radius 0.3s;
}

.thread-list {
  padding: 1px;
  margin: 1px;
}

.thread-list-item {
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.delete-thread-item {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.delete-thread-item:hover {
  background-color: #d32f2f;
}

.conversation-title-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.conversation-title-holder h2 {
  margin: 0;
  font-size: 1.5em;
}

.new-conversation-button {
  background-color: rgb(241, 103, 24);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-conversation-button:hover {
  background-color: #d32f2f;
}