/* src/Sidebar.css */
.sidebar {
    background-color: #1d1b1b;
    width: 250px;
    color: #ffffff;
    padding: 20px;
    height: 100vh;
    overflow: auto;
    position: left;
    top: 60px;
    left: 0;
  }

  .sidebar h2 {
    margin-bottom: 20px;
  }

ul {
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

/* Style for list items */
ul li {
  padding: 10px 0; /* Add some vertical spacing between list items */
  margin: 5px;
  color: white; /* Or any color you had for the text */
  border-bottom: 1px solid #ddd; /* Add a horizontal line as a separator */
}

/* Style for the last list item (removing the border) */
ul li:last-child {
  border-bottom: none;
}

/* Hover effect for list items */
ul li:hover {
  background-color: #6d6d6d; /* Change background color on hover */
  transition: background-color 0.3s; /* Smooth transition effect */
}
